@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-stable {
    scrollbar-gutter: stable;
  }
}

body {
  background-color: #f4f4f4;
  font-family: "Poppins", serif;
}

body.dark {
  background-color: #020617;
  color: whitesmoke;
}

html,
body {
  margin: 0;
}
